<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myblobtrigger20230327213334.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ab2c65ac-7517-4a8f-9f97-5aea3cd92e15/resourcegroups/reenbittask_matvii/providers/Microsoft.Web/sites/MyBlobTrigger20230327213334</ResourceId>
    <UserName>$MyBlobTrigger20230327213334</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://myblobtrigger20230327213334.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>